body {
    background-color: rgb(200, 228, 238);
    color: black;
}
h1 {
    font-size: 40px;
}

 h1 {
    font-family:'Montserrat', sans-serif;
  }

img {
    width: 400px;
    height: 400px;
  }

.petr {
    font-size: 20px;
  }

.lucka {
      font-size: 20px;
  }
  
.obrazek {
    border: 3px solid red;
    display: flex;
    width: 300px;
}

.flex {
    display: flex;
    
}

#hlavni-obrazek {
    width: 700px;
    height: 700px;
}

#petr {
    border: 3px solid black; 
}

#lucka {
    border: 3px solid black;
}

.zacatek {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    display: flex; 
    justify-content: center;
}

.jak-fungujeme {
    font-family: 'Montserrat', sans-serif;
}

.vlastnis {
    font-family: 'Montserrat', sans-serif;
}

.tabulky {
    border: 3px solid black;
    width: 400px;
}

.formular {
    width: 400px;
}

.mb-3 {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
}



