body {
    background-color: rgb(200, 228, 238);
    color: black;
}
h1 {
    font-size: 40px;
}

 h1 {
    font-family:'Montserrat', sans-serif;
  }

img {
    width: 400px;
    height: 400px;
  }

.petr {
    font-size: 20px;
  }

.lucka {
      font-size: 20px;
  }
  
.obrazek {
    border: 3px solid red;
    display: flex;
    width: 300px;
}

.flex {
    display: flex;
    
}

#petr {
    border: 3px solid black; 
}

#lucka {
    border: 3px solid black;
}

.zacatek {
    background-color: rgb(154, 222, 240);
    font-family: 'Montserrat', sans-serif;
    display: flex; 
    justify-content: center;
    flex-flow: column;
}

.jak-fungujeme {
    font-family: 'Montserrat', sans-serif;
}

.vlastnis {
    font-family: 'Montserrat', sans-serif;
}

.tabulky {
    border: 3px solid black;
    width: 600px;
}

.formular {
    width: 575px;
}

.mb-3 {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
}

.zacatek {
    width: 100%;
    height: 500px;
    background-image: url("https://www.linkos.cz/files/pro_pacienty/ikony_s_pozadim/socialni_podpora.png?h=f3c");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.background {
    background-color: rgba(255, 255, 255, 0.705);

}

.obrazekruka {
    width: 500px;
    height: 100px;
}

.qrcode {
    display: flex;
    justify-content: space-around;

}

.nadpis {
    background-color: rgba(142, 208, 228, 0.705); 
}

.nadpis1 {
    background-color: rgba(142, 208, 228, 0.705); 
}

.nadpis2 {
    background-color: rgba(142, 208, 228, 0.705); 
}

