h1 {
    font-size: 40px;
}

 h1 {
    font-family:'Montserrat', sans-serif;
  }

<<<<<<< HEAD
  
=======

  img {
    width: 250px;
    height: 250px;
  }
>>>>>>> ded5192657e7fa12704fcac30021af1ab4e523d9
